<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimationTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>GameOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MonoiOS Device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MonoiOS Simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libMonoOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libMonoiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BD3CBA2160BB2B30043156E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9166E1841C341A9600A5C82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9166E1A91C341BBA00A5C82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9166E2301C3438F900A5C82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9166E2D91C34696600A5C82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9166E2FC1C346EB900A5C82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916B541F1D15D2C000AD54A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
